* {
    margin: 0;
    padding: 0;
}
body {
    text-align: center;
}
caption {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 20px;
    align-items: center;
    margin: auto;
}
table{
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
    
}

